<!-- main.hbs-->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Fight Finder!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    
    <nav> 
        <a href="/">  Home </a>
        <a href="/games">  Games  </a>
        <a href="/characters">  characters  </a>
        <a href="/organizers">  organizers  </a>
        <a href= "/players"> players </a>
        <a href="/tournaments"> tournaments </a>
        <a href="/tournamentsRoster"> tournament roster </a>
        <a href="/playersRoster"> player roster </a>
    </nav>
    
    <meta>
</head>
<body>

    {{{body}}}

</body>
</html>