
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- index.hbs -->
< <main>
        <section>
            <h2> Welcome to Fight Finder! </h2>
            <p>
                This site is designed to help organize online and in person tournaments for various fighting games.
                Under the 'Games' tab you can see all games that tournaments can be held for. Under the 'Characters' tab we have a repository
                of all the characters from recognized games. Under the 'organizers' tab you can view and apply to be a tournament organizer. 
                The 'players' tab shows all of our registered users that are players and can compete in tournaments. Under the 'tournaments' tab you can see
                upcoming and recently completed tournaments. 
            </p>
            
    
                
        </section>
    </main>
    <footer> 
        <p>
            
        </p>
    </footer>