 <main>
        <section>
            
            <table border = "1">
                <tr>
                   
                    <th> Tournament: </th>
                    <th> Organizer: </th>
                    <th> Player: </th>     
                                        
                    
                </tr>
                <tr>
                    
                    <th> Coinbox Online </th>
                    <th> RSquared </th>
                    <th> Daigo </th>
                    
                    
                </tr>
                <tr>
                    
                    
                    <th> WNF 12 </th>
                    <th> j_smith </th>
                    <th> Sajam </th>
                    
                </tr>
                <tr>
                    <th> CEO 2023 </th>
                    <th> RSquared </th>
                    <th> jwong </th>
                    
                </tr>

            </table>


            
        </section>
    </main>
    <footer> 
        <p>
            
        </p>
    </footer>